:root {
    --gp-primary: #b5a160;
    --gp-secondary: #8d7141;
    --gp-background: #c5b87f;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.responsive-img {
    max-width: 90%;
    height: auto;
}

/* Search */
.search-container {
    text-align: center;
}

.search-input {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 25px;
}

.input-search {
    width: 100%;
    max-width: 400px;
    padding: 10px;
    border-radius: 25px;
    border: solid 0.8px var(--gp-background);
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    align-content: center
}

/* Table*/
.table-container {
    background-color: white;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
}

thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: var(--gp-background);
}

th {
    color: #fff;
    background-color: #f5f5f5;
}